@import components.{SectionHeading, PageHeading}

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
    sectionHeading: SectionHeading,
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("$className;format="decap"$.title"))) {

    @formHelper(action = controllers.$section$.routes.$className$Controller.onSubmit(mode), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }
        @sectionHeading(
            id = "$className;format="decap"$-section",
            text = messages("section.sectionName"),
        )
        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("$className;format="decap"$-yesNoValue"),
                legend = LegendViewModel(messages("$className;format="decap"$.heading")).asPageHeading()
            )
        )

        @govukButton(
            ButtonViewModel("saveAndContinueButton",messages("site.saveAndContinue"))
        )
    }
}
