@import components.{Caption, PageHeading}

@this(
        layout: templates.Layout,
        govukButton: GovukButton,
        caption: Caption,
        pageHeading: PageHeading
)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("$className;format="decap"$.title"))) {

    @caption(
        id = "$className;format="decap"$-section",
        text = messages("section.$section$"),
    )

    @pageHeading(messages("$className;format="decap"$.heading"))

    @govukButton(
        ButtonViewModel("continueButton", messages("site.continue"))
    )

}
