.js-visible {
  display: none !important;
}

.js-enabled .js-visible {
  display: inline-block !important;
}

.govuk-grid-column-two-thirds {
  min-height: 1px;
}

.text-align-right {
  text-align: right;
  white-space: nowrap;
}

.text-align-right-wrap {
  text-align: right;
  word-wrap: break-word;
  white-space: normal;
}

.govuk-grid-column-full {
  overflow: auto;
}

.no-wrap {
  white-space: nowrap;
}

.govuk-form-group {
  .govuk-fieldset {
    .govuk-fieldset__legend {
      &.govuk-visually-hidden {
        white-space: normal !important;
      }
    }
  }
}

span.govuk-visually-hidden {
  max-width: 0 !important;
}

.break {
  display: block;
  margin-top: 0;
}

.scrollable {
  overflow: auto;
}
