.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.govuk-grid-column-two-thirds {
  min-height: 1px;
}

.text-align-right {
    text-align: right;
}
