  @media print {
    header,
    footer,
    nav {
      display: none !important;
    }
    html {
      font-size: 62.5%;
    }

    /* reset everything */
    * {
      background: transparent !important;
      color: black;
      text-shadow: none;
      filter: none;
      -ms-filter: none;
    }

    body {
      font-family: "nta", Arial, sans-serif;
      font-size: 10pt !important;
      line-height: 1.42857;
      font-weight: 400;
      text-transform: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    select {
      background: white;
    }

    /* hide the unnecessary page elements */
    body footer.govuk-footer,
    .visuallyhidden,
    #skiplink-container {
      display: none !important;
    }

    /* End govuk-template/resources/public-assets/stylesheets /govuk-template-print.css */

    .js-visible, a.govuk-back-link.js-visible {
      display: none !important;
    }
    .js-enabled .js-visible {
      display: inline-block !important;
    }
    .govuk-grid-column-two-thirds {
      min-height: 1px;
    }

    .govuk-heading-xl {
      font-size: 18pt;
      margin-bottom: 30px;
    }
    .govuk-heading-m,
    .govuk-table__caption--m {
      font-size: 14pt;
      line-height: 1.15;
    }
    .govuk-body, .govuk-body-m {
      font-size: 11pt !important;
    }
    .govuk-table {
      font-size: 10pt;
      line-height: 1.15;
    }
    .govuk-table tbody tr:first-child td:nth-child(1) {
     width:20%!important;
    }
    .govuk-table tbody tr:first-child td:nth-child(2) {
     width:30%!important;
    }
    .govuk-table tbody tr:first-child td:nth-child(3) {
     width:16%!important;
    }
    .govuk-table tbody tr:first-child td:nth-child(4) {
     width:14%!important;
    }
    .govuk-table tbody tr:first-child td:nth-child(5) {
     width:20%!important;
    }
    .govuk-table__cell.text-align-right {
        white-space: nowrap;
    }
    .govuk-\!-width-one-quarter {
      width: auto !important;
    }
    .text-align-right {
      text-align: right;
    }
    .govuk-table {
      margin-bottom:15px!important;
    }
  }